.nav-link, .active-menu, .text{
	font-family: 'Source Serif Pro', serif;
}

body{
	margin: 0;
	padding: 0;
}
.container{
	width: 1024px;
	margin: 0;
	padding: 0;
}
.header{
 	background: #2F3034;
 	height: 350px;
 }
 .logo{
 	margin-top: 50px;
 }
.nav-link{
	text-transform: uppercase;
	font-size: 24px;
	color: white;
	margin-top: 60px;
}

#link-menu{
	color: white;
	transition: all .5s linear;
}
#link-menu:hover{
	color: #838385;
}
.menu-toggle{
	display: none;
	width: 50px;
	height: 50px;
	color: white;
	font-size: 20px;
	text-align: right;
	padding-top:20px;
}
.hr-line{
	border: none;
	border-top: 1px solid #838385;

}
.active-menu{
	color: white;
	font-size: 18px;
	font-style: italic;
}
i{
	margin: 0 15px;
}
.section-1{
	background: #2F3034;
	padding: 80px;
}
.text{
	color: white;
	font-size: 20px;
	text-align: center;
	font-weight: 600px;
}
.img-g{
	width: 300px;
	padding: 20px 0;
	transition: all .5s linear;
}
.img-g:hover{
	transform: scale(1.7);
	cursor: zoom-in;
}
.job-wrap{
	overflow: hidden;
}
.section-2{
	padding: 80px;
	background: #2F3034;
}
footer{
	background: #2F3034;
}
#text-footer{
	color: white;
	padding: 130px 0;
	font-size: 18px;
}

#button-up{
	color: white;
	font-size: 30px;
	font-weight: bold;
}
.scroll-to-top{
	text-decoration: none;
	padding: 10px;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,.5);
	position: fixed;
	right: 15px;
	bottom: 15px;
	text-align: center;
	display: none;
}




/*Медиа-запросы */
@media only screen and (min-width:320px) and (max-width:480px) {
	.img-g{
		width: 150px;
	}
	.job-wrap{
		display: flex;
		justify-content: center;
	}
}
@media only screen and (min-width:481px) and (max-width:768px) {
	.job-wrap{
		display: flex;
		justify-content: center;
	}
} 
@media only screen and (min-width:769px) and (max-width:1024px) {
	.job-wrap{
		display: flex;
		justify-content: center;
	}
} 
@media only screen and (min-width:1025px) and (max-width:1200px) {
	.img-g{
		width: 200px;
	}
} 
@media only screen and (max-width:768px){
	.menu{
		display:none;
		background: rgba(0,0,0,.95);
		padding: 50px;
		margin-top: -120px;
		position: absolute;
		z-index: 9999;
		color: white;
		width: 550px;		
	}
	.menu-toggle{
		display: block;
	}
}
.menu.show{
	display: block;
}
.show{
	display: block;
}